.navi {
  background-color: rgb(36, 32, 26);
}

.header {
  background-color: rgb(51, 61, 123);
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
}

.homeButtonStyle {
  width: 40px;
  margin: 10px;
}

.Navigation-list {
  list-style-type: none;
}
.Navigation-list a {
  text-decoration: none;
}
.Navigation-list a.active {
  background-color: rgb(162, 162, 162);
  color: rgb(47, 116, 4);
  font-weight: bold;
  border-radius: 5px;
  padding: 0px 5px 2px 4px;
}

.codeStyle {
  display: block;
  color: aliceblue;
  background-color: rgba(11, 10, 10, 0.575);
  border-radius: 35px;
  padding: 10px 10px 10px 20px;
  width: min-content;
}

.stateButtonStyle {
  width: 171px;
  height: 52px;
  color: aquamarine;
  background-color: rgb(35, 38, 107);
  font-size: 16px;
  font-weight: 800;
  border: none;
  transition: 1s;
}
.stateButtonStyle:hover {
  color: rgb(35, 38, 107);
  background-color: aquamarine;
}
